<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div  class="carousel-item active">
      <img id="imagenes" src="./assets/carrusel1.png" alt="...">
    </div>
    <div class="carousel-item">
      <img id="imagenes" src="./assets/carrusel2.png" alt="...">
    </div>
    <div class="carousel-item">
      <img id="imagenes" src="./assets/carrusel3.png" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
